<%= form_with model: @task do |f| %>
  <div class="mt-2">
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="mt-2">
  <%= f.label :details %>
  <%= f.text_field :details, class: 'form-control' %>
  </div>

  <div class="mt-2">
  <%= f.check_box :completed %>
  Mark as completed
  </div>
  <p class="mt-2"><%= f.submit class: 'btn btn-primary mt-1' %></p>
<% end %>
